@use 'colors' as colors;

.server-slot {
    padding: 2rem;
    gap: 10px;
    box-shadow: 2px 2px 7px 1px colors.$task-box-shadow;
    display: flex;
    flex-direction: column;

    .server-slot__header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;

        @keyframes glow {
            0% {
                box-shadow: 0 0 2px var(--color), 0 0 4px var(--color), 0 0 6px var(--color), 0 0 8px var(--color);
            }

            100% {
                box-shadow: 0 0 4px var(--color), 0 0 8px var(--color), 0 0 12px var(--color), 0 0 16px var(--color);
            }
        }

        @mixin indicator-color($color) {
            background-color: $color;
            box-shadow: 0 0 2px $color, 0 0 4px $color, 0 0 6px $color, 0 0 8px $color;
        }

        .header__status-indicator {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 10px;
            vertical-align: middle;
        }

        .header__status-indicator.green {
            --color: green;
            @include indicator-color(green);
            animation: glow 1.5s infinite alternate;
        }

        .header__status-indicator.orange {
            --color: orange;
            @include indicator-color(orange);
            animation: glow 1.5s infinite alternate;
        }

        .header__status-indicator.grey {
            --color: grey;
            @include indicator-color(grey);
        }

        .header__name-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            font-weight: 900;
            max-width: 400px;
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;
        }


        .header__to-info {
            position: absolute;
            right: 10px;
        }
    }

    .server-slot__body {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 350px;
    }
}