@use 'colors' as colors;

.close-button {
    position: absolute;
    right: 10px;
    z-index: 1;
}

.content__form {
    width: 100%;

    mat-form-field {
        width: 100%;
    }
}

.actions__bottom-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    button {
        width: 100%;
    }
}