<nav class="bg-white dark:bg-gray-900 w-full">
    <div class="max-w-screen-xl flex-row items-center justify-between gap-3 mx-auto p-4
        slot-wrapper">
        <div class="slot-wrapper__header">
            <span class="text-2xl"> Servers ({{slotAmount}}/{{maxAmountOfSlots}}) </span>
            <div class="relative basis-1/2">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <span class="material-icons text-base">search</span>
                </div>
                <input type="text" id="server-str"
                    class="block w-full p-2.5 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    (input)="onInputChange($event)" />
            </div>
            <button mat-button (click)="addServerSlot()">
                <span class="material-icons text-3xl">add</span>
            </button>
        </div>

        <div class="slot-wrapper__body w-full">
            <div *ngFor="let serverSlot of serverSlots">
                <server-slot [serverSlot]="serverSlot"></server-slot>
            </div>
        </div>
    </div>
</nav>