<button mat-icon-button mat-dialog-close class="close-button">
    <span class="material-icons">close</span>
</button>
<h2 mat-dialog-title>Sign in</h2>

<mat-dialog-content>
    <form id="loginForm" class="content__form space-y-1" [formGroup]="formGroup" (ngSubmit)="signInUser()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" autocomplete="user-email" matInput formControlName="email"
                placeholder="example@example.com" maxlength="256">
            @if (emailInput.hasError('email') && !emailInput.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
            }
            @if (emailInput.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input [type]="hidePassword ? 'password' : 'text'" autocomplete="user-password" matInput
                formControlName="password" maxlength="256">
            <span class="material-icons me-2" matSuffix (click)="hidePassword = !hidePassword">
                {{hidePassword
                ? 'visibility_off'
                : 'visibility'
                }}
            </span>
            @if (passwordInput.hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
            }
            @if (passwordInput.hasError('minlength')) {
            <mat-error>Password must be <strong>at least 8</strong> characters</mat-error>
            }
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="actions__bottom-container">
    <button mat-flat-button id="send-button" form="loginForm" type="submit" color="primary">Login</button>
    <span>
        Don't have an account?
        <a id="to-register-link" (click)="openRegisterMenu()" mat-dialog-close>
            Create a new one.
        </a>
    </span>
</mat-dialog-actions>