<ng-container *ngIf="serverSlot$ | async as serverSlot; else loading">

    <nav class="slot-info-wrapper bg-white dark:bg-gray-900">
        <div
            class="slot-info-wrapper__content max-w-screen-xl gap-3 mx-auto p-4 border border-gray-200 rounded-lg shadow md:flex-row dark:border-gray-700">
            <section class="content__statistics">
                <div class="statistics__header border-b border-gray-200 dark:border-gray-600 pb-1.5">
                    <button mat-icon-button [matMenuTriggerFor]="serverSlotMoreOptions">
                        <span class="material-icons">more_vert</span>
                    </button>
                    <mat-menu #serverSlotMoreOptions="matMenu" id="serverSlotMoreOptions">
                        <button mat-menu-item (click)="showKey()">
                            <div class="flex gap-2 items-center justify-between">
                                <span class="text-base">Key</span>
                                <span class="material-icons">key</span>
                            </div>
                        </button>
                        <button mat-menu-item (click)="makeInputEditable()">
                            <div class="flex gap-2 items-center justify-between">
                                <span class="text-base">Rename</span>
                                <span class="material-icons">edit</span>
                            </div>
                        </button>
                        <button mat-menu-item (click)="openConfirmDeletion()">
                            <div class="flex gap-2 items-center justify-between">
                                <span class="text-base text-red-600">Delete</span>
                                <span class="material-icons text-red-600">delete</span>
                            </div>
                        </button>
                    </mat-menu>
                    <div class="header__center-group">
                        <div class="center-group__name">
                            <input name="slotName" [ngStyle]="{ 'width': (inputWidth$ | async) + 'px' }"
                                [formControl]="inputControl" class="name__input"
                                [ngClass]="{ 'editable': inputIsEditable$ | async, 'non-editable': !(inputIsEditable$ | async) }"
                                (blur)="onBlur()" [readonly]="!(inputIsEditable$ | async)"
                                (dblclick)="makeInputEditable()" placeholder="Enter slot name" />
                            <span #textSizer class="name__input-sizer">{{ inputControl.value }}</span>
                        </div>
                    </div>
                    <button mat-icon-button>
                        <span class="material-icons">download</span>
                    </button>
                </div>
                <server-slot-info-stats [slotKey]="serverSlot.slotKey"></server-slot-info-stats>
            </section>
            <section class="content__additional-info">
                <server-slot-additional-info></server-slot-additional-info>
            </section>
            <section class="content__charts">
                <server-slot-info-charts [slotKey]="serverSlot.slotKey"></server-slot-info-charts>
            </section>
        </div>
    </nav>

</ng-container>

<ng-template #loading>
    <div class="flex items-center justify-center h-screen">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>