<div class="additional-info__content">
    <cdk-virtual-scroll-viewport #scroller class="content__left" [itemSize]="tableItemHeight">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-4 py-4">Name</th>
                    <th scope="col" class="px-4 py-4">
                        <div class="flex items-center">
                            Creation Date
                        </div>
                    </th>
                    <th scope="col" class="px-4 py-4">Description</th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Show</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *cdkVirtualFor="let item of (dataSource$ | async); trackBy:trackById"
                    class="border-b dark:bg-gray-800 dark:border-gray-700 px-4 py-4">
                    <th scope="row" class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{item.name}}
                    </th>
                    <td class="px-4 py-3">
                        {{item.creationDateUTC | date:'dd.MM.yyyy HH:mm'}}
                    </td>
                    <td class="px-4 py-3">
                        {{item.description}}
                    </td>
                    <td class="px-6 py-4 text-right">
                        <button class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                            (click)="openDetailMenu(item.serializedMessage)">Show</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="flex justify-center py-3" *ngIf="(areTableItemsLoading$ | async)">
            <mat-progress-spinner [mode]="'indeterminate'" diameter="50"></mat-progress-spinner>
        </div>
    </cdk-virtual-scroll-viewport>
    <section class="content__right">
        <div class="left__chart">
            <pie-chart [data$]="chartData$"></pie-chart>
        </div>
    </section>
</div>