@use '@angular/material' as mat;
@import "@angular/material/prebuilt-themes/azure-blue.css";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900");
@include mat.core();

$theme: mat.define-theme((color: (theme-type: light,
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: (brand-family: 'Lato',
                bold-weight: 900),
            density: (scale: 0)));

$button-icon-light: mat.define-theme((color: (theme-type: dark,
                primary: mat.$violet-palette,
            ),
        ));

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);

@mixin toolbar-theme($theme) {
    mat-toolbar {
        background: mat.get-theme-color($theme, primary-container);
    }
}

@mixin square-elements {

    .mat-mdc-dialog-surface,
    .mdc-button,
    .mdc-raised-button,
    .mdc-flat-button,
    .mdc-stroked-button {
        border-radius: 5px !important;
    }
}

:root {
    @include mat.all-component-themes($theme);
    @include square-elements;
    // @include toolbar-theme($theme);
}

/*GLOBAL STYLES */
:root {
    max-height: 100vh;
}

html,
body {
    height: 100%;
    max-height: 100vh;
}

html {
    background-size: cover;
    background-attachment: fixed;
    overflow-y: auto !important;
}

* {
    font-family: 'Lato', sans-serif !important;
}

.material-icons {
    font-family: 'Material Icons' !important;
    transform: scale(1.3);
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    padding: 5px !important;
}

.mat-mdc-dialog-actions {
    padding-top: 0 !important;
}

.mat-mdc-dialog-container .mat-mdc-dialog-title+.mat-mdc-dialog-content {
    overflow-y: hidden !important;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.105);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.105);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0 0 0 / 18%);
}

::-webkit-scrollbar {
    width: 15px;
}