<div class="additional-info__content">
    <cdk-virtual-scroll-viewport #scroller class="content__left rounded-lg" [itemSize]="tableItemHeight">
        <ng-container *ngIf="customEvents$ | async as customEvents; else eventLoading">
            @if (customEvents.length > 0) {
            <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-4 py-4">Name</th>
                        <th scope="col" class="px-4 py-4">
                            <div class="flex items-center">
                                Creation Date
                            </div>
                        </th>
                        <th scope="col" class="px-4 py-4">Description</th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Show</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *cdkVirtualFor="let event of customEvents; trackBy:trackById">
                        <tr class="border-b px-4 py-4">
                            <th scope="row" class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap">
                                {{event.name}}
                            </th>
                            <td class="px-4 py-3">
                                {{event.creationDateUTC | date:'dd.MM.yyyy HH:mm'}}
                            </td>
                            <td class="px-4 py-3">
                                {{event.description}}
                            </td>
                            <td class="px-6 py-4 text-right">
                                <button class="font-medium text-blue-600 hover:underline"
                                    (click)="openDetailMenu(event)">Show</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            }
            @else {
            <div class="flex justify-center items-center h-80 w-full">
                <p class="text-gray-500">No Data</p>
            </div>
            }
        </ng-container>
        <ng-template #eventLoading>
            <div class="flex justify-center py-3 m-auto h-full items-center">
                <mat-progress-spinner [mode]="'indeterminate'" diameter="100"></mat-progress-spinner>
            </div>
        </ng-template>
    </cdk-virtual-scroll-viewport>
    <section class="content__right rounded-lg">
        <div class="left__chart h-full">
            <ng-container *ngIf="chartData$ | async as chartData;">
                @if (chartData.size > 0) {
                <app-pie-chart [data$]="chartData$"></app-pie-chart>
                }
                @else {
                <div class="flex justify-center items-center h-80 w-96">
                    <p class="text-gray-500">No Data</p>
                </div>
                }
            </ng-container>
        </div>
    </section>
</div>