@use 'utils' as utils;

@mixin background-shadow-box() {
    padding: utils.pxToRem(32);
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.1);
}

.additional-info__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: utils.pxToRem(32);

    .content__left {
        @include background-shadow-box();
        padding: utils.pxToRem(0);
        width: 100%;
        max-height: utils.pxToRem(350);
        height: utils.pxToRem(350);
        overflow-y: auto;
        overflow-x: auto;
    }

    .content__right {
        @include background-shadow-box();
        padding: 0;
        display: flex;
        max-height: utils.pxToRem(350);
        height: utils.pxToRem(350);
        flex-direction: column;
    }
}

th,
td {
    max-width: utils.pxToRem(100);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: utils.pxToRem(10) !important;
    height: utils.pxToRem(10) !important;
}