<button mat-icon-button mat-dialog-close class="close-button">
    <span class="material-icons">close</span>
</button>
<h2 mat-dialog-title>Create Account</h2>

<mat-dialog-content>
    <form id="registrationForm" class="content__form space-y-1" [formGroup]="formGroup" (ngSubmit)="registerUser()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" autocomplete="email" formControlName="email" placeholder="example@gmail.com"
                maxlength="256">
            <mat-error
                *ngIf="validateInputField(emailInput).hasError">{{validateInputField(emailInput).message}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" type="password" autocomplete="new-password"
                formControlName="password" maxlength="256">
            <button class="material-icons me-2" matSuffix tabindex="0" (click)="hidePassword = !hidePassword"
                (keydown)="hidePasswordOnKeydown($event)">
                {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </button>
            <mat-error
                *ngIf="validateInputField(passwordInput).hasError">{{validateInputField(passwordInput).message}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" type="password"
                formControlName="passwordConfirm" maxlength="256">
            <mat-error
                *ngIf="validateInputField(passwordConfirmInput).hasError">{{validateInputField(passwordConfirmInput).message}}</mat-error>
        </mat-form-field>
    </form>
    <div class="actions__bottom-container">
        <button mat-flat-button id="send-button" form="registrationForm" type="submit" color="primary">Create</button>
        <span>
            Already have an account?
            <button mat-dialog-close id="to-login-link" (click)="openLoginMenu()">
                Sign in here.
            </button>
        </span>
    </div>
</mat-dialog-content>