<div class="statistics__content">
    <section class="content__left rounded-lg">
        <ng-container *ngIf="lifecycleStatistics$ | async as lifecycleStatistics; else loading">
            <div class="left__status">
                <span>Status:</span>
                <div class="status__illumination">
                    {{ serverStatus }}
                    <span [ngClass]="{
                    'green': serverStatus === 'Online',
                    'red': serverStatus === 'Offline',
                    'grey': serverStatus === 'No Data'
                  }" class="illumination__indicator"></span>
                </div>
            </div>
            <div class="left__uptime">
                <span>Last start:</span>
                <span>{{ lifecycleStatistics.serverLastStartDateTimeUTC ?
                    (lifecycleStatistics.serverLastStartDateTimeUTC |
                    localizedDate) : '—' }}</span>
            </div>
            <div class="left__uptime">
                <span>Uptime:</span>
                <span>{{ lifecycleStatistics.serverUptime ?? "—" }}</span>
            </div>
            <div class="left__last-uptime">
                <span>Last uptime:</span>
                <span>{{ lifecycleStatistics.lastServerUptime ?? "—" }}</span>
            </div>
            <div class="left__last-uptime">
                <span>Last pulse:</span>
                <span>{{ lifecycleStatistics.lastPulseDateTimeUTC ? (lifecycleStatistics.lastPulseDateTimeUTC |
                    localizedDate) : '—' }}</span>
            </div>
            <div class="left__last-load-amount">
                <span>Load amount:</span>
                <span>{{ (loadStatistics$ | async)?.amountOfEvents ?? "—" }}</span>
            </div>
        </ng-container>
        <ng-template #loading>
            <div class="flex justify-center py-3 m-auto h-full items-center">
                <mat-progress-spinner [mode]="'indeterminate'" diameter="50"></mat-progress-spinner>
            </div>
        </ng-template>
    </section>

    <cdk-virtual-scroll-viewport #scroller class="content__right rounded-lg" [itemSize]="tableItemHeight">
        <ng-container *ngIf="loadEvents$ | async as loadEvents; else eventLoading">
            @if (loadEvents.length > 0) {
            <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-4 py-4">Endpoint</th>
                        <th scope="col" class="px-4 py-4">Method</th>
                        <th scope="col" class="px-5 py-4">Status code</th>
                        <th scope="col" class="px-4 py-4">Duration</th>
                        <th scope="col" class="px-4 py-4">Timestamp</th>
                        <th scope="col" class="px-4 py-4">Creation Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *cdkVirtualFor="let event of loadEvents; trackBy:trackById" class="border-b">
                        <th scope="row" class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap">
                            {{event.endpoint}}
                        </th>
                        <td class="px-4 py-3">
                            {{event.method}}
                        </td>
                        <td class="px-4 py-3">
                            {{event.statusCode}}
                        </td>
                        <td class="px-4 py-3">
                            {{event.duration}}
                        </td>
                        <td class="px-4 py-3">
                            {{event.timestampUTC | localizedDate}}
                        </td>
                        <td class="px-4 py-3">
                            {{event.creationDateUTC | localizedDate}}
                        </td>
                    </tr>

                </tbody>
            </table>
            }
            @else {
            <div class="flex justify-center items-center h-80 w-full">
                <p class="text-gray-500 dark:text-gray-400">No Data</p>
            </div>
            }

        </ng-container>
        <ng-template #eventLoading>
            <div class="flex justify-center py-3 m-auto h-full items-center">
                <mat-progress-spinner [mode]="'indeterminate'" diameter="100"></mat-progress-spinner>
            </div>
        </ng-template>
    </cdk-virtual-scroll-viewport>
</div>