<button mat-icon-button mat-dialog-close class="close-button">
    <span class="material-icons">close</span>
</button>
<h2 mat-dialog-title>Edit Account</h2>

<mat-dialog-content>
    <form id="updateForm" [formGroup]="formGroup" class="content__form space-y-1">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" autocomplete="email" matInput formControlName="email" placeholder="example@example.com"
                maxlength="256">
            <mat-error
                *ngIf="validateInputField(emailInput).hasError">{{validateInputField(emailInput).message}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Old Password</mat-label>
            <input [type]="'password'" autocomplete="off" matInput formControlName="oldPassword" maxlength="256">
            <mat-error
                *ngIf="validateInputField(oldPasswordInput).hasError">{{validateInputField(oldPasswordInput).message}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input [type]="hideNewPassword ? 'password' : 'text'" autocomplete="off" matInput formControlName="password"
                maxlength="256">
            <button class="material-icons me-2" matSuffix tabindex="0" (click)="hideNewPassword = !hideNewPassword"
                (keydown)="hidePasswordOnKeydown($event)">
                {{ hideNewPassword ? 'visibility_off' : 'visibility' }}
            </button>
            <mat-error
                *ngIf="validateInputField(passwordInput).hasError">{{validateInputField(passwordInput).message}}</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="actions__bottom-container">
    <button mat-flat-button id="send-button" type="submit" form="updateForm" (click)="updateUser()">Save</button>
    <button mat-flat-button mat-dialog-close id="logout-button" color="warn" (click)="logOutUser()">Log Out</button>
</mat-dialog-actions>