@use 'colors' as colors;
@use 'utils' as utils;

.close-button {
    position: absolute;
    right: utils.pxToRem(10);
    z-index: 1;
}

.content__form {
    width: 100%;

    mat-form-field {
        width: 100%;
    }
}

.actions__bottom-container {
    display: flex;
    flex-direction: column;
    gap: utils.pxToRem(5);

    button {
        width: 100%;
    }

    #logout-button {
        margin: 0;
    }

    .primary-color {
        color: colors.$link-light-blue;
    }
}