<div id="wrapper">
    <div id="chart-control">
        <div class="flex flex-wrap gap-1">
            <button (click)="updateControlOptions( '1w' )" [class.active]="activeOptionButton=='1w'">
                1W
            </button>
            <button (click)="updateControlOptions( '1m' )" [class.active]="activeOptionButton=='1m'">
                1M
            </button>
            <button (click)="updateControlOptions( '3m' )" [class.active]="activeOptionButton=='3m'">
                3M
            </button>
            <button (click)="updateControlOptions( '6m' )" [class.active]="activeOptionButton=='6m'">
                6M
            </button>
            <button (click)="updateControlOptions('all')" [class.active]="activeOptionButton=='all'">
                All
            </button>
        </div>
        <apx-chart #controlChart [series]="controlChartOptions.series!" [chart]="controlChartOptions.chart!"
            [yaxis]="controlChartOptions.yaxis!" [xaxis]="controlChartOptions.xaxis!"
            [colors]="controlChartOptions.colors!" [fill]="controlChartOptions.fill!"
            [dataLabels]="controlChartOptions.dataLabels!" [yaxis]="controlChartOptions.yaxis!"
            [stroke]="controlChartOptions.stroke!" [tooltip]="controlChartOptions.tooltip!"
            [legend]="{show: false}"></apx-chart>
    </div>
    <div id="chart-secondary">
        <apx-chart #secondaryChart [series]="secondaryChartOptions.series!" [chart]="secondaryChartOptions.chart!"
            [title]="secondaryChartOptions.title!" [xaxis]="secondaryChartOptions.xaxis!"
            [yaxis]="secondaryChartOptions.yaxis!" [legend]="secondaryChartOptions.legend!"
            [dataLabels]="secondaryChartOptions.dataLabels!" [colors]="secondaryChartOptions.colors!"
            [fill]="secondaryChartOptions.fill!" [markers]="secondaryChartOptions.markers!"
            [stroke]="secondaryChartOptions.stroke!" [tooltip]="secondaryChartOptions.tooltip!"></apx-chart>
    </div>
</div>