<ng-container *ngIf="serverSlot$ | async as serverSlot; else loading">
    <nav class="slot-info-wrapper pb-4">
        <div
            class="slot-info-wrapper__content max-w-screen-xl mx-auto border border-gray-300 rounded-lg bg-white shadow-md">
            <!-- Header Section -->
            <section class="content__statistics p-4">
                <div class="statistics__header border-b border-gray-200 pb-2 flex items-center justify-between">
                    <div class="flex items-center gap-4">
                        <button id="menu-button" mat-icon-button [matMenuTriggerFor]="serverSlotMoreOptions">
                            <span class="material-icons">more_vert</span>
                        </button>
                        <div class="header__group">
                            <div class="group__name">
                                <app-server-slot-name-changer [serverSlot]="serverSlot"
                                    [inputIsEditable$]="inputIsEditable$">
                                </app-server-slot-name-changer>
                            </div>
                        </div>
                    </div>
                    <app-server-slot-info-download [slotKey]="serverSlot.slotKey"></app-server-slot-info-download>
                </div>

                <!-- Dropdown Menu -->
                <mat-menu #serverSlotMoreOptions="matMenu" id="serverSlotMoreOptions">
                    <button id="key-button" mat-menu-item (click)="showKey(serverSlot)">
                        <div class="flex gap-2 items-center justify-between">
                            <span class="text-base">View Key</span>
                            <span class="material-icons">key</span>
                        </div>
                    </button>
                    <button id="rename-button" mat-menu-item (click)="makeInputEditable()">
                        <div class="flex gap-2 items-center justify-between">
                            <span class="text-base">Rename</span>
                            <span class="material-icons">edit</span>
                        </div>
                    </button>
                    <button id="delete-button" mat-menu-item (click)="openConfirmDeletion(serverSlot)">
                        <div class="flex gap-2 items-center justify-between text-red-600">
                            <span class="text-base">Delete</span>
                            <span class="material-icons">delete</span>
                        </div>
                    </button>
                </mat-menu>

                <!-- Slot Stats -->
                <section>
                    <h3 class="text-lg font-semibold text-gray-500">Statistics</h3>
                    <app-server-slot-info-stats [slotKey]="serverSlot.slotKey"
                        class="mt-4"></app-server-slot-info-stats>
                </section>

            </section>

            <!-- Additional Info Section -->
            <section class="content__additional-info p-4 rounded-lg">
                <app-server-slot-info-additional-information [slotKey]="serverSlot.slotKey">
                </app-server-slot-info-additional-information>
            </section>

            <!-- Charts Section -->
            <section class="content__charts bg-gradient-to-r from-zinc-50/90 to-gray-100 p-4 rounded-lg">
                <h3 class="text-lg font-semibold text-gray-500">Performance Charts</h3>
                <app-server-slot-info-charts [slotKey]="serverSlot.slotKey"></app-server-slot-info-charts>
            </section>
        </div>
    </nav>
</ng-container>

<ng-template #loading>
    <div class="flex items-center justify-center h-screen">
        <mat-progress-spinner mode="indeterminate" diameter="150" class="text-blue-500"></mat-progress-spinner>
    </div>
</ng-template>